/* sidebar */
.sidebar-container {
  z-index: 200;
  height: 100%;
  width: 70%;
  max-width: 300px;
  background: white;
  box-shadow: 2px 0px 5px rgba((0), 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.sidebar-container.open-sidebar {
  transform: translateX(0);
}

.sidebar-items {
  color: #521751;
  width: 90%;
  padding-left: 20px;
  margin: 5px 5px 2px 2px;
  cursor: pointer;
  font-size: 2rem;
}
.sidebar-items:hover {
  border-bottom: 1px solid purple;
}

@media (min-width: 759px) {
  .sidebar-container {
    display: none;
  }
}
